
    .css-nen11g-MuiStack-root {
        display:flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        
    }
@media only screen and (max-width:501px) {
 

    .css-nen11g-MuiStack-root {
            display:flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            .MuiSwitch-root.MuiSwitch-sizeMedium {
                transform:rotate(90deg)
               
            }
        }
    
}