

.homeFourContainer {
    grid-row:4/4;
    max-width: 100vw;
    height: 100%;
    display: grid;
    grid-template-rows: 0.1fr 1fr 1fr 0.35fr;
    img {
        grid-row: 1/1;
        width:100%
    }
    .body{
        grid-row: 2/2;
        display: grid;
        grid-template-columns: 40% 60%;
        .leftCol {
        
            width: 100%;
            display: flex;
            justify-content: center;
            align-items:center ;
            .phonesContainer {
                background-image: url('../../../images/homepage/bluespot.png');
                background-position: bottom;
                background-repeat: no-repeat;
                background-size: cover;
                height:200px ;
                width: 300px;
                position: relative;
                img {
                    width: 80%;
                    position: absolute;
                }
                .mobile2 {
                    left: 5%;
                    width:112%;
                    bottom:4%;
                }
                .mobile1 {
                  left:1%;
                  bottom:16%;
                   
                }
            }

        }
        .rightCol {
            grid-column:2/2;
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            align-items: center;
            .title {
                font-weight: bold;
                display: flex;
                flex-direction: column;
                align-items: center;
                font-size: xx-large;
                img {
                    width:10%;
                }
            }
            .playStore {
                display: flex;
                flex-direction: column;
                align-items: center;
                color:hsl(196, 100%, 44%);
                .playStoreLogo {
                    display: flex;
                    justify-content: center;
                    background-color: black;
                    color:white;
                    border-radius: 20px;
                    img {
                        width:15%;
                    }
                    .playStoreText {
                        display: flex;
                        flex-direction: column;
                        align-items: center;
                        font-size: small;
                        span {
                            font-size: medium;
                        }
                    }
                }
            }
            .appStore {
                display: flex;
                flex-direction: column;
                align-items: center;
                color:hsl(196, 100%, 44%);
                .appStoreLogo {
                    display:flex;
                    justify-content: center;
                    border:1px solid black;
                    border-radius: 20px;
                    color:black;
                    img {
                        width:15%;
                    }
                    .appStoreText {
                        display: flex;
                        flex-direction: column;
                        align-items: center;
                        font-size: small;
                        span {
                            font-size: me;
                        }
                    }
                }
            }
        }
    }
    .diagram {
        grid-row:3/3;
        height: 90%;
        width:100%;
        display:grid;
        grid-template-rows: 1fr 1fr ;
        grid-template-columns:0.1fr 0.2fr 1fr 0.2fr 1fr 0.2fr 0.1fr ;
        #hands {
            grid-row: 1/1;
            grid-column: 2/2;
            display: flex;
            align-self: center;
        }
        .hands {
            grid-row: 2/2;
            grid-column: 2/2;
            border: 1px solid  #00A4DE;
            border-radius: 50%;
            display: flex;
            justify-content: center;
            align-items: center;
            text-align: center;
            color:  #00A4DE;
            font-size: large;
        }
        #speed {
            grid-row: 1/1;
            grid-column: 4/4;
            display: flex;
            align-self: center;
        }
        .speed {
            grid-row: 2/2;
            grid-column: 4/4;
            border: 1px solid  #00A4DE;
            border-radius: 50%;
            display: flex;
            text-align: center;
            color:  #00A4DE;
            justify-content: center;
            align-items: center;
            font-size: large;
        }
        #realable {
            grid-row: 1/1;
            grid-column: 6/6;
            display: flex;
            align-self: center;
        }
        .realable {
            grid-row: 2/2;
            grid-column: 6/6;
            border: 1px solid  #00A4DE;
            border-radius: 50%;
            display: flex;
            text-align: center;
            color:  #00A4DE;
            justify-content: center;
            align-items: center;
            font-size: large;
        }
        .line1Container {
            grid-row: 2/2;
            grid-column: 3/3;
            width: 100%;
            display: flex;
            flex-direction: column;
            justify-content: flex-end;
            
            .line1 { 
                 height: 1px;
                background-color: #00A4DE;
                width: 100%;
            }
          
        }
        .line2Container {
            grid-row:2/2;
            grid-column: 5/5;
            width: 100%;
            display: flex;
            flex-direction: column;
            justify-content: flex-end;
            .line2 {
                width: 100%;
                height: 1px;
                background-color: #00A4DE;
            }
           
        }
    }
    .preFooter {
        width:100%;
        background-color: #C4C4C4;
        display: flex;
        justify-content: space-around;
        align-items: center;
        height: 80% ;
        margin-top: 1rem;
        .element {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            .earthImage {
                width:17%;
            }
            img {
                width: 20%;
            }
            .head1 {
                font-weight: bold;
                font-size: large;
            }
            .head2 {
                font-weight:lighter ;
            }
        }
    }
   
}

@media  only screen  and (max-width:500px){
    .homeFourContainer {
        height: 100%;
        .body {
            .leftCol {
                justify-content: stretch;
                .phonesContainer{
                    width: 150px;
                 

                        .mobile1 {
                         
                            bottom: 50%;
                        }
                        .mobile2 {
                            bottom: 44%;
                           
                        }
                    

                }
            }
            .rightCol {
                .title {
                    font-size: large;
                }
            }
        }
        .diagram {
            grid-template-columns: 0.1fr 15% 1fr 15% 1fr 15% 0.1fr;
            height: 50%;
            margin-top: 2rem;
            .speed {
                font-size: small;
            }
            .realable {
                font-size: small;
            }
            .hands {
                font-size: small;
            }
        }
        .preFooter {
            .element {
                width: 25%;
                #email {
                    width:20%
                }
                .head1 {
                    font-size: medium;
                    text-align: center;
                }
                .head2 {
                    font-size: small;
                    text-align: center;
                }
            }
        }
    }
}
@media  only screen  and (min-width:501px) and (max-width:1024px){
    .homeFourContainer{
        .body{
            .leftCol{
                .phonesContainer {

                 
                }
            }
        }
        .diagram{
            height: 70%;
        }
    }
}