
.homeTwoContainer {
  
    grid-row:2/2;
    display:grid;
    grid-template-rows: 0.1fr 1fr 0.2fr ;
    .title {
        grid-row: 1/1;
        display:flex;
        justify-content: flex-end;
        font-size: x-large;
        flex-direction: column;
        align-items: center;
    }
    .body {
        grid-row:2/2;
        display: grid;
        grid-template-columns: 50% 50%;
        .leftCol {
            display: flex;
            width: 80%;
            justify-content: flex-end;
         
            align-items: center;
            .imagesContainer {
                height: auto;
                width: 100%;
                position: relative;
                display: flex;
                justify-content: flex-end;
                    .edg1 {
                        height: 100%;
                        position: absolute;
                        border-radius: 20px;
                        background: rgba(71, 176, 211, 0.2);
                        left: 36%;
                        width: 10%;
                        z-index: 0;
                    }
                    .edg2 {
                        height: 100%;
                        position: absolute;
                        border-radius: 20px;
                        background:rgba(71, 176, 211, 0.5) ;
                        left:40%;
                        width:10%;
                        z-index: 1;
                    }
                    .edg3 {
                        height: 100%;
                        position: absolute;
                        border-radius: 20px;
                        background:rgba(71, 176, 211, 0.8) ;
                        left:44%;
                        width: 10%;
                        z-index: 2;
                    }
                    img {
                        width:50%;
                        height: auto;
                        z-index: 3;
                    }
                    .circles {
                        display: flex;
                        justify-content: center;
                        position: absolute;
                        left:65%;
                        bottom: 10%;
                        .dot {
                            border-radius: 50px;
                            width:0.5rem;
                            height: 0.5rem;
                            background: grey;
                            margin-left: 2px;
                            margin-right: 2px;
                        }
                    }
            }    
          
        }
        .rightCol {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content:space-evenly;
            width:80%;
          
            button {
                width:30%;
                height: 10%;
                font-size: x-large;
                border-radius: 15px;
                background-color: #00A4DE;
                border:none;
                box-shadow: 2px 3px 2px grey;
                color:white;
            }

            .imgs {
                width: 70%;
                display:flex;
                flex-direction: column;
                align-items: center;
                h5 {
                    margin-bottom: 0px;
                    margin-top: 2rem;
                    font-size: large;
                    font-weight: normal;
                }
                img {
                    width:100%;
                }
               
            }
        }
    }
    .footer2 {
        grid-row: 3/3;
        display: flex;
        flex-direction: row-reverse;
        img {
            width:100%;
        }
    }
}
@media only screen and (max-width:500px) {
    .homeTwoContainer {
        margin-top: 0px;
        .title {
            text-align: center;
        }
        .body {
            grid-template-rows: 50% 50%;
            grid-template-columns: 1fr;
            min-height: 628px;
            .leftCol {
                width:100%;
                justify-content: center;
                grid-row: 1/1;
              
                max-height: 394px;
                .imagesContainer {
                    justify-content: center;
                    .edg1 {
                       
                        left:12%
                    }
                    .edg2 {
                    
                        left:16%
                    }
                    .edg3 {
                  
                        left:20%
                    }
                 
                    .circles {
                        left:46%;
                        bottom: -20%;
                    }
               }
            }
            .rightCol {
                grid-row: 2/2;
                width: 100%;
            }
        }
    }
}
@media  only screen  and(orientation:landscape){
   .homeTwoContainer {
       .body {
           .leftCol {
               .imagesContainer {
                   .edg1 {
                       left:36%
                   }
                   .edg2 {
                       left:40%
                   }
                   .edg3 {
                       left:44%
                   }
               }
           }
       }
   }
}