
.homeTwoContainer {
    margin-top: 4rem;
    grid-row:2/2;
    height: 100vh;
    display:grid;
    grid-template-rows: 0.1fr 1fr 0.2fr ;
    .title {
        grid-row: 1/1;
        display:flex;
        justify-content: center;
        font-size: x-large;
    }
    .body {
        grid-row:2/2;
        display: grid;
        grid-template-columns: 50% 50%;
        .leftCol {
            display: flex;
            width: 80%;
            justify-content: flex-end;
            position: relative;
            align-items: center;
            .edg1 {
                height: 80%;
                position: absolute;
                border-radius: 20px;
                background: rgba(71, 176, 211, 0.2);
                left: 36%;
                width: 10%;
                z-index: 0;
            }
            .edg2 {
                height: 80%;
                position: absolute;
                border-radius: 20px;
                background:rgba(71, 176, 211, 0.5) ;
                left:40%;
                width:10%;
                z-index: 1;
            }
            .edg3 {
                height: 80%;
                position: absolute;
                border-radius: 20px;
                background:rgba(71, 176, 211, 0.8) ;
                left:44%;
                width: 10%;
                z-index: 2;
            }
            img {
                width:50%;
                height: 80%;
                z-index: 3;
            }
            .circles {
                display: flex;
                justify-content: center;
                position: absolute;
                left:65%;
                bottom: 0;
                .dot {
                    border-radius: 50px;
                    width:0.5rem;
                    height: 0.5rem;
                    background: grey;
                    margin-left: 2px;
                    margin-right: 2px;
                }
            }
          
        }
        .rightCol {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content:space-around;
            width:80%;
            height: 100%;
            button {
                width:30%;
                height: 10%;
                font-size: x-large;
                border-radius: 15px;
                background-color: #00A4DE;
                border:none;
                box-shadow: 2px 3px 2px grey;
                color:white;
            }

            .imgs {
                width: 70%;
                display:flex;
                flex-direction: column;
                align-items: center;
                h5 {
                    margin-bottom: 0px;
                    margin-top: 2rem;
                    font-size: large;
                    font-weight: normal;
                }
                img {
                    width:100%;
                }
               
            }
        }
    }
    .footer {
        grid-row: 3/3;
        display: flex;
        flex-direction: row-reverse;
        img {
            width:100%;
        }
    }
}