.navbar {
    grid-row: 1/1;
    display:grid;
    grid-template-columns: 0.3fr 1fr 0.3fr;
  
    color:white;
    .MuiPaper-root {
        background-color: hsl(196, 100%, 44%);
        display: flex;
        justify-content: center;
        height: 3rem;
        .MuiContainer-root {
            display: flex;
            justify-content: center;
            align-items: center;
            .MuiToolbar-root {
                display: flex;
                justify-content: space-between;
                align-items: center;
                width:100%;
                a {
                    color: white;
                    text-decoration: none;
                    position: relative;
                   transition : 2s ease-in-out;
                }
            }
        }
    }
    .register {
        grid-column: 3/3;
        display: flex;
        justify-content: center;
        align-items: center;
        width:20%;
        button {
            border-radius: 4px;
            box-shadow: 3px 3px 3px grey;
            color:#00A4DE;
            background-color: white;
            width: 40%;
        }
    }
    .content {
        grid-column: 2/2;
        grid-row: 1/1;
        display: flex;
        justify-content:space-evenly ;
        align-items: center;
        font-size: medium;
        flex-direction: row-reverse;
        a {
            color: white;
            text-decoration: none;
            position: relative;
           transition : 2s ease-in-out;
        }
        a:focus::after{
            content: " ";
           position: absolute;
           bottom: -30%;
           left:0;
           right: 0;
           border: 1px solid white;
         border-radius: 40px;
         border-left: 30px solid transparent;
         border-right: 30px solid transparent;

         transition: 1s;
         transition-duration: 1s;
         transition-delay: 1s;
       
        }

    }

}
.homeOneContainer {
    grid-row: 1/1;
    display: grid;
    grid-template-rows: 0.1fr 1fr ;
    height: 100vh;

    .body {
        grid-row: 2/2;
       display: flex;
       flex-direction: column;
       background-image: url('../../../images/homepage/transports.png');
      background-position-x:88% ;
       background-position-y: 40%;
     background-repeat: no-repeat;
       background-size: 45%;
       .textContainer {
           display: flex;
           flex-direction: column;
           justify-content: center;
           align-items: flex-start;
           min-height:65%;
           .text {
               width:40%;
               display:flex;
               flex-direction: column;
               align-items: center;
               font-size: large;
               h3 {
                   font-size: xx-large;
                   font-weight: bold;
               }
           }
       }
       img {
           width: 100%;
           z-index: 2;
           
       }
    }
}

@media only screen and (max-width:770px) {
    .homeOneContainer{
        height: 90vh;
        .body {
            background-size: 80%;
            .textContainer {
                justify-content: flex-start;
                .text {
                    font-size: large;
                    width:100%
                }
            }
        }
    }
    .MuiModal-root {
        .MuiPaper-root {
            width:30%;
            .MuiList-root {
                display: flex;
                flex-direction: column;
                align-items: center;
                font-size: medium;
                background-color: hsl(196, 100%, 44%);
                .register {
                    button {
                        border: none;
                        box-shadow: 2px 3px 3px grey;
                    }
                }
                .MuiMenuItem-root {
                  
                  
                    a {
                        text-decoration: none;
                        color:white;
                        
                    }
                }
            }
        }
    }

   
}