.navbar {
    grid-row: 1/1;
    display:grid;
    grid-template-columns: 0.3fr 1fr 0.3fr;
  
     background-color: #00A4DE;;
    .MuiPaper-root {
        background-color: hsl(196, 100%, 44%);
        display: flex;
        justify-content: center;
        height: 3rem;
        .MuiContainer-root {
            display: flex;
            justify-content: center;
            align-items: center;
            .MuiToolbar-root {
                display: flex;
                justify-content: space-between;
                align-items: center;
                width:100%;
                a {
                    color: white;
                    text-decoration: none;
                    position: relative;
                   transition : 2s ease-in-out;
                }
            }
        }
    }
    .MuiBox-root {
        .register {
            grid-column: 3/3;
            display: flex;
            justify-content: space-around;
            align-items: center;
            width:20%;
            .myProfile {
                display: flex;
                justify-content: center;
                color:hsl(196, 100%, 44%);
                align-items: center;
                font-size: medium;
                padding-bottom: 3px;
            
                .MuiAvatar-root {
                    margin-left: 5px;
                    width:25px;
                    height: 25px;
                
                }
            }
        .MuiButton-root {
            line-height: 0.5;
            background-color: white;
            color:hsl(196, 100%, 44%);
        }
        }
        a::after {
            content:'';
            max-width:0px;
        }
        a:hover::after{
            content: " ";
           position: absolute;
           bottom: -10%;
           left:0;
           right: 0;
           border: 1px solid white;   
         border-radius: 40px;
         border-left: 30px solid transparent;
         border-right: 30px solid transparent;
         transition: max-width  2s ease-in-out;
         max-width: 50%;
  
       
        }
}
    .content {
        grid-column: 2/2;
        grid-row: 1/1;
        display: flex;
        justify-content:space-evenly ;
        align-items: center;
        font-size: medium;
        flex-direction: row-reverse;
        a {
            color: white;
            text-decoration: none;
            position: relative;
           transition : 2s ease-in-out;
        }
     

    }

}
@media  only screen and (max-width:500px) {
    .MuiModal-root {
        .MuiPaper-root {
            width:30%;
            background-color: #00A4DE;
            .MuiList-root {
                display: flex;
                flex-direction: column;
                align-items: center;
                font-size: medium;
                justify-content: space-evenly;
                height: 70%;
               
                .MuiListItem-root {
                  
                    .register {
                       flex-direction: column;
                       align-items: center;
                       width: 100%;
                        button {
                            border: none;
                            box-shadow: 2px 3px 3px grey;
                            background-color: white;
                            color:hsl(196, 100%, 44%);
                            line-height: 1;
                        }
                        .myProfile {
                            display: flex;
                            justify-content: center;
                            color:white;
                            align-items: center;
                            flex-direction: column-reverse;
                        }
                    }
                    a {
                        text-decoration: none;
                        color:white;
                        white-space: unset;
                        
                    }
                }
            }
        }
    }
}
@media screen and (min-width:501px) and (max-width:1024px) {
    .navbar {
        .register {
            width: 30%;
        }
    }
}
@media  screen and (orientation :landscape) {
    .navbar{
        .MuiPaper-root {
            .MuiContainer-root {
                padding: 0;
                .MuiToolbar-root {
                    .MuiBox-root {
                        .register {
                            width: 30%;
                            .myProfile {
                                margin-left: 3px;
                            }
                        }
                    }
                }
            }
        }
    }
    
}